#up
  %a{:href => "#"}
    %img{:src => "/up.jpg"}
#down
  %a{:href => "#"}
    %img{:src => "/down.jpg"}

#items
  - @items.each do |item|
    .item
      %a{:href => item.uri}
        %img{:src => item.image(:thumb)}
        .label= item.title
      

  .spacer