%h1 New

%form{:method => "post", :enctype => "multipart/form-data", :action => "create"}
  %p
    Title
    %br/
    %input{:type => "text", :name => "item[title]", :size => 36}
  %p
    URI
    %br/
    %input{:type => "text", :name => "item[uri]", :size => 36}
  %p
    Width &amp; Height
    %br/
    %input{:type => "text", :name => "item[width]", :size => 4}
    %input{:type => "text", :name => "item[height]", :size => 4}
  %p
    Image
    %br/
    %input{:type => "file", :name => "image"}
  %p
    %input{:type => "submit", :value => "Save"}