// Document setup and resets

body
  font: 13px/18px Helvetica, Arial, sans-serif
  margin: 0px
  padding: 0px
  background-color: #5E4BE8
  color: #FFFFFF

*
  margin: 0px
  padding: 0px


p, h1, h2, h3
  margin-bottom: 15px


.spacer
  clear: both
  margin: 0
  padding: 0
  border: 0
  height: 0
  width: 0


a
  color: #3e9dd4
  font-weight: bold
  text-decoration: none

  &:hover
    text-decoration: underline

  &:visited
    color: #3e9dd4
    
  img
    border: 0px


// Structure

#header
  margin: 0px
  padding: 40px 0px 20px
  a, a:hover, a:visited
    color: white
    font-size: 48px
    text-decoration: none

#content
  background: #A1F98E
  color: #333333
  padding: 30px
  margin: 0px
  font-size: 15px
  line-height: 18px


#footer
  font-size: 10px
  line-height: 10px
  margin: 0px
  padding: 20px 0px 50px
  color: black


#container
  margin: 0px auto
  padding: 0px
  width: 840px


// Headers

h1
  font-size: 30px
  line-height: 48px
  margin: 0px 0px 20px
  padding: 0px
  font-weight: bold

h2
  font-size: 24px
  line-height: 24px
  margin: 0px
  padding: 0px 0px 15px
  font-weight: normal


// Other content

.item
  background-color: #FC384B
  float: left
  padding: 15px
  color: #fff
  position: relative
  margin-bottom: 35px
  
.item .label
  position: absolute
  left: 15px
  top: 15px
  background-color: #56F236
  color: #BD4F59
  padding: 2px 5px 2px 5px
  
#up
  position: fixed
  right: 30px
  top: 80px
  
#down
  position: fixed
  right: 30px
  bottom: 80px


// Status messages

.note
  margin: 0px 0px 15px
  padding: 5px 5px 5px 10px
  font-size: 13px
  line-height: 17px
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  
  &.notice
    background-color: #FCFB83

  &.failure
    background-color: #FFB5A8
    color: red